<p>
  <br>In <strong>Munchkin</strong>, all players start at level 1, with the goal of reaching level 10 (or level 20 in Epic Level games). Players primarily progress by killing monsters, and level up every time they kill a monster. However, players can freely use cards against monsters and other players during play, allowing them to either assist or to sabotage others during their turn. Each person's turn begins when they "kick down the door" by drawing a Door Card face-up. A Door Card can be one of the following types: a Monster Card, which the player must engage by fighting or fleeing; a Curse Card, which applies an effect; or an Item Card, Race Card, or Class Card, which the player adds to their hand. If the card drawn is not a Monster Card, the player can either "loot the room" by drawing a face-down door card and adding it to their hand, or "look for trouble" by playing a Monster Card from their hand to fight it.<br>
  <br>When fighting a monster, the total level of the player (and any supporting players) is weighed against the total level of the monster(s) to determine the victor. A successful player draws the listed amount of treasure cards and levels up either 1 or 2 levels, but an unsuccessful character must roll the dice to try and flee; players who fail to roll a five or six suffer the monster's negative effects ("Bad Stuff") or die. Should a player die, their turn immediately ends and they discard their hand, retaining their player level but drawing a new hand for equipment.<br>
  <br>Due to the highly competitive nature of the game and the presence of rule-breaking cards, players are encouraged to use unfair tactics against others, to act mercenary to further themselves at the expense of others, or to use cheat cards to affect outcomes (such as fixing the roll of the die). Throughout a player's turn, others are free to intervene: they can passively buff or debuff the player or monsters to alter the outcome; play monster cards of matching types to make the battle more difficult; or offer to assist the player, typically in exchange for treasure cards.<br>
  <br>A game of Munchkin being played, with coins being used to denote levels.<br>
  <br>Other cards that can enter play include Items, which can be used in combat, Treasure Cards, which act as sellable loot and equipment, and Curse Cards, which apply effects. Additionally, players can equip certain cards (such as armor and weapons) to raise their total level and kill stronger monsters, and can use Class Cards and Race Cards to grant extra abilities or advantages at the cost of a balanced weakness; for example, the elf race can level when helping others kill monsters, but will take additional damage from disgusting enemies.<br>
  <br>Standard games typically last around an hour, with the game ending once a player reaches the target level and wins the match. Aside from defeating monsters, players can progress though indirect means such as selling cards (with every 1000 Gold on the sum total granting a level) or by playing special leveling cards. Most games disallow victory through indirect methods, meaning only fighting a monster can win the game. There are a few exceptions, however, such as when a player uses cards which specifically state they override rules.<br>
</p>
<div class="container mt-5">
  <div class="row ">
    <img class="mx-auto" src="http://www.worldofmunchkin.com/game/img/howto-1.png">
    <img class="mx-auto" src="http://www.worldofmunchkin.com/game/img/howto-2.png">
    <img class="mx-auto"src="http://www.worldofmunchkin.com/game/img/howto-3.png">
    <img class="mx-auto"src="http://www.worldofmunchkin.com/game/img/howto-4.png">
  </div>
</div>

<div class="container mt-5">
  <h2>Variants</h2>
  These are themed "box set" editions of MUNCHKIN that have been released. (The overall theme parodied by each set is after the title.) Each is a stand-alone version that can be played separately or combined with any other version for a more expansive game. Some of these have been released in Deluxe versions (which include a gameboard and movers to keep track of levels) and/or Guest Artist Editions (drawn with new art by artists other than those who originally drew them). Certain versions have been co-produced with USAopoly and feature "character cards" that grant starting powers and keep track of levels. These games are denoted by a "(U)" after the description.
  <br><br>
  <ul>
    <li>The Good, the Bad and the Munchkin (Western films & "Wild West" History)</li>
    <li>Moop's Monster Mashup (a mad wizard combines animals into new creatures)</li>
    <li>Munchkin Adventure Time (based on the Cartoon Network animated series)</li>
    <li>Munchkin Apocalypse ("End of the World")</li>
    <li>Munchkin Axe Cop (based on the web comic)</li>
    <li>Munchkin Bites! (Horror & "Monster" Movies)</li>
    <li>Munchkin Booty (Pirate & "High Seas" Adventure)</li>
    <li>Munchkin Christmas Lite (a smaller introductory set themed to the December holiday)</li>
    <li>Munchkin Conan (based on the literary action hero)</li>
    <li>Munchkin Cthulhu (the works of H.P. Lovecraft)</li>
    <li>Munchkin Fu (Martial Arts & Asian Cinema)</li>
    <li>Munchkin Grimm Tidings (a smaller introductory set themed to the characters from the stories of the Brothers Grimm)</li>
    <li>Munchkin Impossible (Spy & Intrigue Movies)</li>
    <li>Munchkin Legends (Classic legendary heroes & monsters)</li>
    <li>Munchkin Lite (a smaller introductory set based on the original MUNCHKIN)</li>
    <li>Munchkin Magical Mess (a "sequel" to MOOP'S MAGICAL MESS)</li>
    <li>Munchkin Marvel (the heroes & villains of the Marvel Comic Universe) (U)</li>
    <li>Munchkin The Nightmare Before Christmas (based on the Tim Burton stop-motion animation film) (U)</li>
    <li>Munchkin Oz (based on L. Frank Baum's The Wonderful Wizard of Oz and its' sequels)</li>
    <li>Munchkin Pathfinder (based on the role-playing game series)</li>
    <li>Munchkin Rick and Morty (based on the Adult Swim animated series) (U)</li>
    <li>Munchkin Shakespeare (based on the characters created by "the Bard")</li>
    <li>Munchkin Spell Skool (a smaller introductory set themed to the students of a fictional school of magic)</li>
    <li>Munchkin Steampunk (19th-Century Technomages)</li>
    <li>Munchkin X-Men (a smaller introductory set themed to Professor X and his teams of mutant pupils) (U)</li>
    <li>Star Munchkin (Science Fiction theme)</li>
    <li>Super Munchkin (Superheroes & Super-villains)</li>
    <li>Munchkin Zombies (Undead fight the living)</li>
  </ul>  
</div>
